<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.loopring.lightcone.core.persistence.BlockMapper">

    <select id="selectById" resultType="org.loopring.lightcone.core.persistence.BlockEntity" parameterType="java.lang.String">
        select * from lpr_block where id=#{id}
    </select>

</mapper>
